.icon-bitbasement-black { background-image: url('png/bitbasement-black.png'); background-repeat: no-repeat; }

.icon-bitbasement-white { background-image: url('png/bitbasement-white.png'); background-repeat: no-repeat; }

.icon-close-black { background-image: url('png/close-black.png'); background-repeat: no-repeat; }

.icon-close-white { background-image: url('png/close-white.png'); background-repeat: no-repeat; }

.icon-coming-soon-en { background-image: url('png/coming-soon-en.png'); background-repeat: no-repeat; }

.icon-coming-soon-pt { background-image: url('png/coming-soon-pt.png'); background-repeat: no-repeat; }

.icon-facebook-black { background-image: url('png/facebook-black.png'); background-repeat: no-repeat; }

.icon-facebook-white { background-image: url('png/facebook-white.png'); background-repeat: no-repeat; }

.icon-instagram-black { background-image: url('png/instagram-black.png'); background-repeat: no-repeat; }

.icon-instagram-white { background-image: url('png/instagram-white.png'); background-repeat: no-repeat; }

.icon-lisboaopenhouse-black { background-image: url('png/lisboaopenhouse-black.png'); background-repeat: no-repeat; }

.icon-lisboaopenhouse-white { background-image: url('png/lisboaopenhouse-white.png'); background-repeat: no-repeat; }

.icon-logo-antena1 { background-image: url('png/logo-antena1.png'); background-repeat: no-repeat; }

.icon-logo-bitbasement { background-image: url('png/logo-bitbasement.png'); background-repeat: no-repeat; }

.icon-logo-buildingpictures { background-image: url('png/logo-buildingpictures.png'); background-repeat: no-repeat; }

.icon-logo-carris { background-image: url('png/logo-carris.png'); background-repeat: no-repeat; }

.icon-logo-cml-narrow { background-image: url('png/logo-cml-narrow.png'); background-repeat: no-repeat; }

.icon-logo-cml { background-image: url('png/logo-cml.png'); background-repeat: no-repeat; }

.icon-logo-dizplay { background-image: url('png/logo-dizplay.png'); background-repeat: no-repeat; }

.icon-logo-egeac { background-image: url('png/logo-egeac.png'); background-repeat: no-repeat; }

.icon-logo-fertagus { background-image: url('png/logo-fertagus.png'); background-repeat: no-repeat; }

.icon-logo-fsh { background-image: url('png/logo-fsh.png'); background-repeat: no-repeat; }

.icon-logo-fundacaoedp { background-image: url('png/logo-fundacaoedp.png'); background-repeat: no-repeat; }

.icon-logo-metro { background-image: url('png/logo-metro.png'); background-repeat: no-repeat; }

.icon-logo-oa { background-image: url('png/logo-oa.png'); background-repeat: no-repeat; }

.icon-logo-openhouseworldwide { background-image: url('png/logo-openhouseworldwide.png'); background-repeat: no-repeat; }

.icon-logo-refer { background-image: url('png/logo-refer.png'); background-repeat: no-repeat; }

.icon-logo-roca { background-image: url('png/logo-roca.png'); background-repeat: no-repeat; }

.icon-logo-rtp1 { background-image: url('png/logo-rtp1.png'); background-repeat: no-repeat; }

.icon-logo-sec { background-image: url('png/logo-sec.png'); background-repeat: no-repeat; }

.icon-logo-ttsl { background-image: url('png/logo-ttsl.png'); background-repeat: no-repeat; }

.icon-logo-turismodelisboa { background-image: url('png/logo-turismodelisboa.png'); background-repeat: no-repeat; }

.icon-logo-vodafone { background-image: url('png/logo-vodafone.png'); background-repeat: no-repeat; }

.icon-menu-black { background-image: url('png/menu-black.png'); background-repeat: no-repeat; }

.icon-menu-white { background-image: url('png/menu-white.png'); background-repeat: no-repeat; }

.icon-tagline-en { background-image: url('png/tagline-en.png'); background-repeat: no-repeat; }

.icon-tagline-pt { background-image: url('png/tagline-pt.png'); background-repeat: no-repeat; }

.icon-trienal-black { background-image: url('png/trienal-black.png'); background-repeat: no-repeat; }

.icon-trienal-horizontal-black { background-image: url('png/trienal-horizontal-black.png'); background-repeat: no-repeat; }

.icon-trienal-horizontal-white { background-image: url('png/trienal-horizontal-white.png'); background-repeat: no-repeat; }

.icon-trienal-white { background-image: url('png/trienal-white.png'); background-repeat: no-repeat; }

.icon-twitter-black { background-image: url('png/twitter-black.png'); background-repeat: no-repeat; }

.icon-twitter-white { background-image: url('png/twitter-white.png'); background-repeat: no-repeat; }

